*
!build.sh
!install.*.xml
!admin/controller/extension/shipping/sameday.php
!admin/controller/extension/shipping/sameday_admin_controller.3.php
!admin/controller/extension/shipping/sameday_admin_controller.4.php
!admin/language/en-gb/extension/shipping/sameday.php
!admin/model/extension/shipping/sameday.php
!admin/model/extension/shipping/sameday_admin_model.3.php
!admin/model/extension/shipping/sameday_admin_model.4.php
!admin/view/template/extension/shipping/sameday.tpl
!admin/view/template/extension/shipping/sameday.twig
!admin/view/template/extension/shipping/sameday_4.twig
!admin/view/template/extension/shipping/sameday_add_awb.tpl
!admin/view/template/extension/shipping/sameday_add_awb.twig
!admin/view/template/extension/shipping/sameday_add_parcel.twig
!admin/view/template/extension/shipping/sameday_add_parcel.tpl
!admin/view/template/extension/shipping/sameday_add_parcel_4.twig
!admin/view/template/extension/shipping/sameday_add_awb_4.twig
!admin/view/template/extension/shipping/sameday_awb_history_status.tpl
!admin/view/template/extension/shipping/sameday_awb_history_status.twig
!admin/view/template/extension/shipping/sameday_awb_history_status_4.twig
!admin/view/template/extension/shipping/sameday_awb_history_status_refresh.tpl
!admin/view/template/extension/shipping/sameday_awb_history_status_refresh.twig
!admin/view/template/extension/shipping/sameday_awb_history_status_refresh_4.twig
!admin/view/template/extension/shipping/sameday_order_info_tab_4.twig
!admin/view/template/extension/shipping/sameday_order_list_4.twig
!admin/view/template/extension/shipping/sameday_order_list_modals_4.twig
!admin/view/template/extension/shipping/sameday_service.tpl
!admin/view/template/extension/shipping/sameday_service.twig
!admin/view/template/extension/shipping/sameday_service_4.twig
!catalog/controller/extension/shipping/sameday.php
!catalog/controller/extension/shipping/sameday_catalog_controller.3.php
!catalog/controller/extension/shipping/sameday_catalog_controller.4.php
!catalog/language/en-gb/extension/shipping/sameday.php
!catalog/view/javascript/sameday/assets/*.js
!catalog/model/extension/shipping/sameday.php
!catalog/model/extension/shipping/sameday_catalog_model.3.php
!catalog/model/extension/shipping/sameday_catalog_model.4.php
!system/
system/*
!system/library/
system/library/*
!system/library/sameday-php-sdk/
!system/library/sameday-php-sdk/**
!system/library/sameday-classes/
!system/library/sameday-classes/**
!system/library/samedayclasses.php
!admin/view/javascript/select2/
!phpcs.xml.dist
!install.json
