*
!build.sh
!install.*.xml
!admin/controller/extension/shipping/sameday.php
!admin/language/en-gb/extension/shipping/sameday.php
!admin/model/extension/shipping/sameday.php
!admin/view/template/extension/shipping/sameday.tpl
!admin/view/template/extension/shipping/sameday.twig
!admin/view/template/extension/shipping/sameday_add_awb.tpl
!admin/view/template/extension/shipping/sameday_add_awb.twig
!admin/view/template/extension/shipping/sameday_awb_history_status.tpl
!admin/view/template/extension/shipping/sameday_awb_history_status.twig
!admin/view/template/extension/shipping/sameday_awb_history_status_refresh.tpl
!admin/view/template/extension/shipping/sameday_awb_history_status_refresh.twig
!admin/view/template/extension/shipping/sameday_service.tpl
!admin/view/template/extension/shipping/sameday_service.twig
!catalog/model/extension/shipping/sameday.php
!system/library/sameday-php-sdk/
!system/library/sameday-classes/
!system/library/samedayclasses.php
!admin/view/javascript/jquery/select2/select2.css
!admin/view/javascript/jquery/select2/select2.js